 {% comment %} <div class="cb__container cb__eventos-container">
  <div class="contenedor-child">
    <div class="contenido">
      <h1 class="cb__title-text">Eventos</h1>
      <p class="cb__subtitle-text">
        GreenSouls 
      </p>
      <p class="cb__paragraph-text">
        Aparta tu cupo
      </p>
    </div>
    <div class="cb__eventos-items-container">
      <div class="cb__eventos-items">
          <div class="cb__eventos-image">
              <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/greensouls-eventos-santa-marta.jpg?v=1694791993" alt="" />
              <span class="cb__eventos-place">
                  Santa Marta
              </span>
          </div>
          <div class="cb__eventos-date">
              <p class="cb__eventos-month">Abril</p>
              <p class="cb__eventos-location">GreenSouls:</br>Gaia</p>
          </div>
          <div class="cb__eventos-description-container">
              <div class="cb__eventos-description-item">
                  <span class="cb__eventos-description-icon">
                      <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/Asset_8.png?v=1694791950" alt="" srcset="">
                  </span>
                  <p class="cb__eventos-description-text">
                      Siembra de corales, Buceo con propósito (Limpieza submarina, Buceo en guarderias de coral)
                  </p>
              </div>
              <div class="cb__eventos-description-item">
                  <span class="cb__eventos-description-icon">
                      <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/Asset_10.png?v=1694791951" alt="" srcset="">
                  </span>
                  <p class="cb__eventos-description-text">
                      Liberación de especies 
y Limpieza de playas
                  </p>
              </div>
              <div class="cb__eventos-description-item">
                  <span class="cb__eventos-description-icon">
                      <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/Asset_10.png?v=1694791951" alt="" srcset="">
                  </span>
                  <p class="cb__eventos-description-text">
                      Torneo de Surf con premios a las comunidades locales.
                  </p>
              </div>
          </div>
      </div>
      <div class="cb__eventos-items">
          <div class="cb__eventos-image">
              <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/greensouls-eventos-nuqui.jpg?v=1694791992" alt="" />
              <span class="cb__eventos-place">
                  Nuquí
              </span>
          </div>
          <div class="cb__eventos-date">
              <p class="cb__eventos-month">Abril</p>
              <p class="cb__eventos-location">GreenSouls:</br>Gigantes Azules</p>
          </div>
          <div class="cb__eventos-description-container">
              <div class="cb__eventos-description-item">
                  <span class="cb__eventos-description-icon">
                      <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/Asset_8.png?v=1694791950" alt="" srcset="">
                  </span>
                  <p class="cb__eventos-description-text">
                      Liberación de especies, Avistamiento de ballenas jorobadas, Limpieza de playas
                  </p>
              </div>
              <div class="cb__eventos-description-item">
                  <span class="cb__eventos-description-icon">
                      <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/Asset_9.png?v=1694791951" alt="" srcset="">
                  </span>
                  <p class="cb__eventos-description-text">
                      Restauración de espacios comunitarios dentro del municipio.
                  </p>
              </div>
          </div>
      </div>
      <div class="cb__eventos-items">
          <div class="cb__eventos-image">
              <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/greensouls-eventos-san-andres.jpg?v=1694791993" alt="" />
              <span class="cb__eventos-place">
                  San Andrés
              </span>
          </div>
          <div class="cb__eventos-date">
              <p class="cb__eventos-month">Abril</p>
              <p class="cb__eventos-location">GreenSouls:</br>La isla de los 7 colores</p>
          </div>
          <div class="cb__eventos-description-container">
              <div class="cb__eventos-description-item">
                  <span class="cb__eventos-description-icon">
                      <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/Asset_8.png?v=1694791950" alt="" srcset="">
                  </span>
                  <p class="cb__eventos-description-text">
                      Limpieza de playas, Siembra de corales, Buceo con propósito 
(Limpieza submarina, Buceo en guarderias de coral)
                  </p>
              </div>
              <div class="cb__eventos-description-item">
                  <span class="cb__eventos-description-icon">
                      <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/Asset_7.png?v=1694791951" alt="" srcset="">
                  </span>
                  <p class="cb__eventos-description-text">
                      Donación de computadores 
a niños estudiantes de una escuela local, Restauración de espacios comunitarios dentro de la isla.
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% comment %} <div class="cb__container cb__no-border-section cb__siembra-corales-container">
<div class="contenedor-child">
  <div class="contenido">
    <h1 class="cb__title-text">Siembra corales, siembra pulmones para nuestro planeta</h1>

    <div class="cb__button-cb__container cb__block-buttons">
      <a class="cb__primary-button" href="#">Pasa a la acción</a>
    </div>
  </div>
  <div class="imagen">
    <img src="https://cdn.shopify.com/s/files/1/0819/9674/2976/files/greensouls-eventos-siembra-corales.jpg?v=1694791992" alt="" />
  </div>
</div>
</div> {% endcomment %}