<style>
  .banner-container img {
    width: 100%; 
    height: auto;
    display: block;
  }

  .hidden-mobile {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }

  @media (min-width: 767px) {
    .hidden-mobile {
      display: block;
    }

    .hidden-desktop {
      display: none;
    }
  }
</style>

{% if section.settings.desktop_image != blank and section.settings.mobile_image != blank %}
  <div class="banner-container">
    <a href="{{ section.settings.url_banner }}">
      <img class="hidden-mobile" src="{{ section.settings.desktop_image | image_url }}" alt="Desktop Banner" width="1920px" height="750px">
    </a>
    <a href="{{ section.settings.url_banner }}">
      <img class="hidden-desktop" src="{{ section.settings.mobile_image | image_url }}" alt="Mobile Banner" width="390px" height="547px">
    </a>
  </div>
{% endif %}

{% schema %}
{
  "name": "Image Banner by Soda",
  "class": "desktop-mobile-banner",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image Banner"
    },
    {
      "type": "url",
      "id": "url_banner",
      "label": "URL button",
      "default": "/collections/all"
    },
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "header",
      "content": "Mobile Banner"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    }
  ],
  "presets": [
    {
      "name": "Image Banner",
      "settings": {}
    }
  ]
}
{% endschema %}
