pickup-availability {
  display: block;
  margin-top: 3rem;
}
pickup-availability .caption-large,
pickup-availability .caption {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(var(--color-foreground));
  text-transform: none;
  margin: 0;
}
pickup-availability .caption {
  margin-bottom: 1rem;
}

.pickup-availability .pickup-availability-overlay {
  visibility: visible;
  transition: visibility var(--duration-default) ease;
}

.pickup-availability-overlay {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-overlay), 0.4);
  backdrop-filter: blur(4px);
  visibility: hidden;
  transition: visibility var(--duration-default) ease;
}

.pickup-availability-list__item > * {
  margin: 0;
}

.pickup-availability-list__item > * + * {
  margin-top: 1rem;
}

.pickup-availability-preview {
  align-items: flex-start;
  display: flex;
  gap: 0.8rem;
  color: rgb(var(--color-foreground-secondary));
}

@media screen and (min-width: 750px) {
  .pickup-availability-preview {
    padding: 0 2rem 0 0;
  }
}
.pickup-availability-preview .icon {
  flex-shrink: 0;
  height: 1.8rem;
}

.pickup-availability-preview .icon-unavailable {
  height: 1.6rem;
  margin-top: 0.1rem;
}

.pickup-availability-button {
  background-color: transparent;
  font-size: 1.2rem;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  line-height: var(--font-body-line-height);
  color: rgba(var(--color-foreground));
  text-transform: none;
  margin: 0;
  padding: 0;
  transition: var(--duration-default);
  text-decoration: none;
  position: relative;
}
.pickup-availability-button::after {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: rgba(var(--color-foreground));
  transition: width var(--duration-default);
}
.pickup-availability-button:hover::after {
  width: 0;
}

pickup-availability-drawer {
  display: none;
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  height: 100%;
  overflow-y: auto;
  padding: 6rem;
  position: fixed;
  top: 0;
  right: -40rem;
  z-index: 11;
  animation: animateDrawerOpen 0.25s;
  transform: translate3d(-40rem, 0, 0);
  width: 45rem;
  max-width: 100%;
}

pickup-availability-drawer[open] {
  display: block;
}

.pickup-availability-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.pickup-availability-drawer-title {
  margin: 0;
}

.pickup-availability-drawer-button {
  position: absolute;
  right: 4rem;
  top: 1rem;
  padding: 2rem;
}

.pickup-availability-drawer-button:hover .icon {
  transform: rotate(90deg);
}

.pickup-availability-variant {
  font-size: 1.2rem;
  line-height: 160%;
  margin: 0 0 2.4rem;
  text-transform: capitalize;
  color: rgb(var(--color-foreground-secondary));
}

.pickup-location {
  font-size: 1.2rem;
  line-height: 160%;
  color: rgb(var(--color-foreground-secondary));
  font-weight: var(--font-subtitle-weight);
}

.pickup-availability-variant > * + strong {
  margin-left: 1rem;
}

.pickup-availability-list__item {
  padding: 2.3rem 0;
}
.pickup-availability-list__item .pickup-availability-preview {
  font-size: 1.2rem;
  margin-top: 2.4rem;
  max-width: 21rem;
}

.pickup-availability-list__item:first-child {
  border-top: 0.1rem solid rgba(var(--color-border));
}

.pickup-availability-address {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 160%;
  margin-top: 0.4rem;
}
.pickup-availability-address br {
  display: none;
}

.pickup-availability-address p {
  margin: 0;
}

@keyframes animateDrawerOpen {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-40rem, 0, 0);
  }
}