.pagination-wrapper {
  margin-top: 4rem;
}
@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}
.pagination__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.pagination__list > li {
  flex: 0 0 4rem;
  max-width: 4rem;
}
.pagination__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  padding: 0;
  font-size: 1.8rem;
  color: rgb(var(--color-foreground));
  text-decoration: none;
  border-radius: 50%;
  transition: background-color var(--duration-default);
}
.pagination__item:not(.pagination__item--current):hover, .pagination__item:focus {
  border: 0.1rem solid rgb(var(--color-border));
}
.pagination__item--current {
  background-color: rgb(var(--color-base-background-2));
  color: rgb(var(--color-border-input-hover));
}
.pagination__item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  color: rgb(var(--color-foreground));
}
.pagination__item-arrow span {
  display: flex;
  align-items: center;
}
.pagination__item-arrow .icon {
  flex: 0 0 auto;
  width: 4rem;
  color: rgb(var(--color-accent));
  transition: transform var(--duration-default);
}
.pagination__item-arrow .icon path {
  fill: rgb(var(--color-accent));
}
.pagination__item-arrow:hover .icon {
  transform: translateX(0.5rem);
}
.pagination__item--prev .icon {
  transform: rotate(180deg);
}
.pagination__item--prev:hover .icon {
  transform: rotate(180deg) translateX(0.5rem);
}