.rte:after {
  clear: both;
  content: "";
  display: block;
}
.rte * {
  line-height: var(--font-body-line-height);
}
.rte h1,
.rte h2,
.rte h3,
.rte h4 {
  margin-top: 3.2rem;
  line-height: var(--font-heading-line-height);
}
.rte div {
  margin: 0;
}
.rte div img {
  width: 100%;
}
@media screen and (min-width: 990px) {
  .rte div img {
    width: calc(50% - 0.8rem);
  }
}
.rte p {
  font-size: 1.4rem;
  letter-spacing: normal;
}
@media only screen and (min-width: 750px) {
  .rte p {
    font-size: 1.8rem;
  }
}
.rte p:first-child {
  margin-top: 0;
}
.rte p:last-child {
  margin-bottom: 0;
}
.rte ol,
.rte ul {
  padding-left: 2rem;
  margin: 0 0 1.6rem 2.4rem;
}
.rte li {
  list-style: inherit;
  padding-left: 0.8rem;
  margin: 1.6rem 0rem;
  font-size: 1.4rem;
  letter-spacing: 0;
}
@media only screen and (min-width: 750px) {
  .rte li {
    font-size: 1.8rem;
  }
}
.rte li:last-child {
  margin-bottom: 0;
}
.rte a {
  color: rgb(var(--color-link));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  text-decoration-color: rgb(var(--color-link));
  transition: color var(--duration-short) ease;
}
.rte a:hover {
  color: rgb(var(--color-link), 0.6);
}
.rte img,
.rte figure {
  height: auto;
  max-width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  border-radius: 0.3rem;
  width: 100%;
}
@media screen and (min-width: 990px) {
  .rte img,
  .rte figure {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
  }
}
.rte figure > img {
  margin: 0;
}
.rte figcaption {
  font-size: 1rem;
  color: rgba(var(--color-foreground), 0.6);
  text-align: center;
}
.rte img + img {
  margin-top: 0;
}
@media screen and (min-width: 990px) {
  .rte img + img {
    margin-left: 0.8rem;
  }
}
.rte table {
  table-layout: fixed;
  overflow: auto;
}
@media screen and (min-width: 750px) {
  .rte table td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
.rte iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.rte blockquote {
  margin: 3.2rem 0;
  padding: 6rem 20rem;
  background: rgba(var(--color-base-background-2));
  border-radius: 0.6rem;
}
@media screen and (max-width: 990px) {
  .rte blockquote {
    padding: 6rem 10rem;
  }
}
@media screen and (max-width: 576px) {
  .rte blockquote {
    padding: 3rem;
  }
}
.rte blockquote h3 {
  font-weight: 400;
  font-size: 2.2rem;
  margin: 0;
}
.rte blockquote p {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color, #747474);
  margin: 1.6rem 0 0 0;
}