/**
* Converts SVG into data url so that this SVG could be used as a
* background image
*
* @example
*	background-image: svgtodataurl("<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">...</svg>");
*/
[data-scheme=dark] .card-information {
  background: rgb(var(--color-background));
}
[data-scheme=dark] .product-slider-v1 {
  text-decoration: none;
}
[data-scheme=dark] .product-slider-v1, [data-scheme=dark] .product-slider-v1 * {
  text-decoration: none;
}
[data-scheme=dark] .section-container--product-slider-v2 .segment.theme-dark {
  --section-txt-color: #e6e6e6;
  --section-overlay-bg-color: rgb(var(--color-overlay-background));
}
[data-scheme=dark] .section-container--product-slider-v2 .segment.theme-light {
  --section-txt-color: rgb(var(--color-base-text-default));
  --section-overlay-bg-color: #e6e6e6;
}

[data-is-autoplay=false] .swiper-pagination-bullets svg circle:last-child {
  display: none;
}

[data-is-autoplay=true] {
  text-decoration: none;
}

.section-container--product-slider-v2 .segment.theme-dark {
  --section-txt-color: #fff;
  --section-overlay-bg-color: rgb(var(--color-overlay-background));
}
.section-container--product-slider-v2 .segment.theme-light {
  --section-txt-color: rgb(var(--color-base-text-default));
  --section-overlay-bg-color: #fff;
}
.section-container--product-slider-v2 .segment__caption, .section-container--product-slider-v2 .segment__heading {
  color: var(--section-txt-color);
}
.section-container--product-slider-v2 .segment__subheading {
  color: var(--section-txt-color) !important;
}
.section-container--product-slider-v2 .segment__subheading .collection-label__line {
  background: var(--section-txt-color);
}
.section-container--product-slider-v2 .segment__overlay, .section-container--product-slider-v2 .segment__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.section-container--product-slider-v2 .segment__overlay {
  z-index: 2;
  background: var(--section-overlay-bg-color);
}
.section-container--product-slider-v2 .segment__bg-img {
  z-index: 1;
}

.product-slider-v2 {
  min-height: 20rem;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  align-items: stretch;
}
.product-slider-v2__placeholder-mobile {
  display: flex;
  justify-content: center;
}
.product-slider-v2__item-empty-svg-mobile {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
.product-slider-v2__bg-img-mobile {
  display: none;
}
@media screen and (max-width: 1360px) {
  .product-slider-v2__bg-img-mobile {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .product-slider-v2__bg-img-mobile {
    padding-bottom: 10px;
  }
}
.product-slider-v2__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1360px) {
  .product-slider-v2__placeholder {
    display: none;
  }
}
.product-slider-v2__placeholder svg {
  max-width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-slider-v2 *,
.product-slider-v2 *::before,
.product-slider-v2 *::after {
  box-sizing: inherit;
}
.product-slider-v2 .subtitle--wrapper {
  color: var(--section-txt-color);
}
.product-slider-v2 .subtitle--wrapper span:after {
  background: var(--section-txt-color);
}
.product-slider-v2 .wide-image-for-mobile {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 32rem;
  display: none;
  padding-bottom: 3rem;
}
@media screen and (max-width: 1360px) {
  .product-slider-v2 .wide-image-for-mobile {
    display: block;
  }
}
.product-slider-v2 .wide-image-for-mobile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-slider-v2 .product-slider-v2__bg-img-header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display: none;
  max-width: 44.4rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1360px) {
  .product-slider-v2 {
    flex-direction: column;
    min-height: auto;
    --section-txt-color: rgb(var(--color-base-text));
  }
  .product-slider-v2 .product-slider-v2__bg-img-header {
    display: block;
  }
  .product-slider-v2 .product-slider-v2__right {
    padding-bottom: 5rem;
    padding-top: 0;
  }
  .product-slider-v2 .product-slider-v2__right, .product-slider-v2 .product-slider-v2__left {
    width: 100%;
  }
  .product-slider-v2 .product-slider-v2__bg-img, .product-slider-v2 .product-slider-v2__overlay {
    display: none;
  }
  .product-slider-v2__bg-img-header {
    display: block;
  }
}
.product-slider-v2__left {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding: 5.9rem 0;
}
@media screen and (max-width: 1200px) {
  .product-slider-v2__left {
    display: block;
    width: 100%;
    padding: 5rem 0;
  }
}
.product-slider-v2__group {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
.product-slider-v2__group--width {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.5rem;
}
@media screen and (min-width: 750px) {
  .product-slider-v2__group--width {
    padding: 0 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .product-slider-v2__group--width {
    max-width: 68.5rem;
    padding: 0;
  }
}
.product-slider-v2__heading {
  text-align: center;
  padding: 0 0 1.5rem;
  margin: 0;
}
.product-slider-v2__caption {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .product-slider-v2__caption {
    max-width: 44.4rem;
  }
}
.product-slider-v2__right {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.product-slider-v2__group {
  display: block;
}
.product-slider-v2 .products-place {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-width: 55.56rem;
  min-height: 15rem;
  width: 100%;
}
.product-slider-v2 .products-place .swiper-slide {
  border-radius: 6px;
  overflow: hidden;
}
.product-slider-v2 .products-place-inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .product-slider-v2 .products-place-inner {
    display: block;
    width: 100%;
  }
}
.product-slider-v2 .products-place-inner .button {
  flex-shrink: 0;
}
.product-slider-v2 .products-place .swiper-button {
  color: rgb(var(--color-button-tertiary-text));
}
.product-slider-v2 .products-place .swiper-wrapper {
  border-radius: 0.6rem;
}
.product-slider-v2 .products-place--v2 .swiper {
  border-radius: 6px;
}
.product-slider-v2 .products-place--v2 .swiper-slide {
  height: auto !important;
}
.product-slider-v2 .products-place--v2 .swiper-button {
  position: absolute;
  top: calc(50% - 60px);
  transform: translateY(-50%);
}
.product-slider-v2 .products-place--v2 .swiper-button svg {
  width: 4rem;
}
.product-slider-v2 .products-place--v2 .swiper-button-prev {
  left: -5.8rem;
}
@media screen and (max-width: 1200px) {
  .product-slider-v2 .products-place--v2 .swiper-button-prev {
    left: -2.8rem;
  }
}
.product-slider-v2 .products-place--v2 .swiper-button-next {
  right: -5.8rem;
}
@media screen and (max-width: 1200px) {
  .product-slider-v2 .products-place--v2 .swiper-button-next {
    right: -2.8rem;
  }
}
.product-slider-v2 .products-place .swiper {
  margin-left: auto;
  margin-right: auto;
  max-width: 44.4rem;
}
@media screen and (max-width: 1760px) {
  .product-slider-v2 .products-place .swiper {
    max-width: 42rem;
  }
}
@media screen and (max-width: 1560px) {
  .product-slider-v2 .products-place .swiper {
    max-width: 37rem;
  }
}
@media screen and (max-width: 1360px) {
  .product-slider-v2 .products-place .swiper {
    max-width: 35.1rem;
  }
}
@media screen and (max-width: 1200px) {
  .product-slider-v2 .products-place .swiper {
    max-width: 45.1rem;
    width: 90% !important;
  }
}
@media screen and (max-width: 1200px) {
  .product-slider-v2 .card-wrapper {
    background: #fff !important;
  }
}
.product-slider-v2 .swiper {
  margin-left: auto;
  margin-right: auto;
  max-width: 44.4rem;
}
.product-slider-v2 .product-slider-img {
  width: 100%;
  height: auto;
  display: block;
}
.product-slider-v2 .swiper-button {
  width: 5rem;
  height: 5rem;
}
@media screen and (max-width: 750px) {
  .product-slider-v2 .swiper-button {
    display: none;
  }
}
.product-slider-v2 .swiper-button-prev,
.product-slider-v2 .swiper-button-next {
  z-index: 1;
  color: #fff;
}
.product-slider-v2 .swiper-horizontal > .swiper-pagination-bullets,
.product-slider-v2 .swiper-pagination-bullets.swiper-pagination-horizontal,
.product-slider-v2 .swiper-pagination-custom,
.product-slider-v2 .swiper-pagination-fraction {
  bottom: 0;
}
.product-slider-v2 .swiper-pagination-v2 {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  padding-right: 0;
  padding-top: 1.6rem;
  --cb--track-bg-color: #fff;
  --cb--rotator-stroke-color: #fff;
  --cb--text-color: rgb(var(--color-accent-default));
  --cb--stroke-width: 0.3rem;
  --cb--track-bg-opacity: 0.3;
  --cb--between-stroke-and-fill: 0.9rem;
  --cb--width: 4.4rem;
  --cb--height: 4.4rem;
  --cb--svg-circle--diameter: 6.2rem;
  --cb--font-size: 1.8rem;
  --cb--fill-color: var(--cb--track-bg-color, #fff);
  --cb--circle-length: 195px;
  --cb--font-size: 1.3rem;
}
@media screen and (max-width: 1560px) {
  .product-slider-v2 .swiper-pagination-v2 {
    bottom: 4.5rem !important;
  }
}
@media screen and (max-width: 1200px) {
  .product-slider-v2 .swiper-pagination-v2 {
    bottom: 1.5rem !important;
  }
}
@media screen and (max-width: 990px) {
  .product-slider-v2 .swiper-pagination-v2 {
    bottom: 3.5rem !important;
  }
}
.product-slider-v2 .swiper-pagination-v2 .circle-button {
  position: relative;
  top: 0;
  left: 0;
  width: var(--cb--width, 6.2rem);
  height: var(--cb--height, 6.2rem);
  display: block;
  margin: 0 !important;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  background: none;
  flex-shrink: 0;
  transition: linear transform 0.16s;
  will-change: transform;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button .circle-button__thumbnail, .product-slider-v2 .swiper-pagination-v2 .circle-button .circle-button__thumbnail-empty-svg, .product-slider-v2 .swiper-pagination-v2 .circle-button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--cb--between-stroke-and-fill, 1.5rem));
  height: calc(100% - var(--cb--between-stroke-and-fill, 1.5rem));
  border-radius: 50%;
  overflow: hidden;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-content);
  background-color: var(--cb--fill-color);
  font-size: var(--cb--font-size, 1.8rem);
  color: var(--cb--text-color, rgb(var(--color-accent)));
  opacity: 0;
  transition: linear 0.16s opacity;
  will-change: opacity;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__svg circle {
  fill: none;
  stroke-width: var(--cb--stroke-width, 0.3rem);
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__svg circle:first-child {
  stroke: var(--cb--track-bg-color, #fff);
  stroke-opacity: var(--cb--track-bg-opacity, 0.3);
  opacity: 0;
  transition: linear 0.16s opacity;
  will-change: opacity;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__svg circle:last-child {
  stroke: var(--cb--rotator-stroke-color, #fff);
  stroke-dasharray: var(--cb--circle-length);
  stroke-dashoffset: var(--cb--circle-length);
  opacity: 0;
  transition: linear 0.16s all;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__thumbnail {
  opacity: 1;
  transition: linear 0.16s opacity;
  will-change: opacity;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__thumbnail, .product-slider-v2 .swiper-pagination-v2 .circle-button__thumbnail-empty-svg {
  z-index: 10;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__svg circle:first-child {
  text-decoration: none;
  stroke: rgb(var(--color-accent));
}
.product-slider-v2 .swiper-pagination-v2 .circle-button__svg circle:last-child {
  text-decoration: none;
  stroke: rgb(var(--color-accent));
}
.product-slider-v2 .swiper-pagination-v2 .circle-button:after {
  opacity: 0.8;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button.swiper-pagination-bullet-active {
  transform: scale(1) !important;
}
.product-slider-v2 .swiper-pagination-v2 .circle-button:hover {
  transform: scale(1.15);
}
@keyframes circle-progress {
  0% {
    stroke-dashoffset: var(--cb--circle-length);
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.product-slider-v2 .swiper-pagination-v2 .circle-animate-product-slider-v2 {
  animation-duration: var(--cb--delay-slideing);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-name: circle-progress;
}
.product-slider-v2 .swiper-pagination-v2 .swiper-pagination-bullet-active:after {
  opacity: 1;
}
.product-slider-v2 .swiper-pagination-v2 .swiper-pagination-bullet-active .circle-button__svg circle {
  opacity: 1;
}