.compare__box {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 1200px) {
  .compare__box {
    gap: 3rem;
    flex-direction: column;
  }
}
.compare__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .compare__content {
    width: 100%;
  }
}
.compare__slayd {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .compare__slayd {
    width: 100%;
  }
}
.compare .title-wrapper {
  margin-bottom: 2.4rem;
}
.compare .compare__description {
  margin-bottom: 2.4rem;
}
.compare__title {
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .compare__title {
    max-width: 74.2rem;
  }
}
.compare__text {
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .compare__text {
    max-width: 44.4rem;
  }
}
.compare__product {
  max-width: 47.5rem;
  margin-top: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
}
.compare__defoult {
  height: 55.3rem;
  display: flex;
  gap: 0.5rem;
}
.compare__defoult svg {
  background-color: rgb(var(--color-base-background-2));
}

.twentytwenty-container {
  max-height: 55.3rem;
}
@media screen and (max-width: 990px) {
  .twentytwenty-container {
    max-height: 30rem;
  }
}
.twentytwenty-container img {
  width: 100%;
  height: 55.3rem;
  object-fit: cover;
  border-radius: 0.6rem;
}
@media screen and (max-width: 990px) {
  .twentytwenty-container img {
    height: 30rem;
  }
}
.twentytwenty-container svg {
  width: 100%;
  height: 55.3rem;
  object-fit: cover;
}
@media screen and (max-width: 990px) {
  .twentytwenty-container svg {
    height: 30rem;
  }
}
.twentytwenty-container .twentytwenty-handle {
  width: 5rem;
  height: 5rem;
  margin-left: -2.5rem;
  background: var(--bg-color, #ffffff);
  border: none;
}
.twentytwenty-container .twentytwenty-overlay {
  display: none;
}
.twentytwenty-container .twentytwenty-left-arrow {
  width: 2rem;
  height: 2rem;
  top: 20px;
  left: 32px;
  background-image: url("burger-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: none;
}
.twentytwenty-container .twentytwenty-right-arrow {
  display: none;
}