.template-404 .breadcrumb,
.template-search .breadcrumb {
  margin: 2.4rem 0 1.6rem;
}

.template-404 .container-404 {
  max-width: calc(1500px + 10rem);
  margin: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media screen and (min-width: 750px) {
  .template-404 .container-404 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.template-404 .main-404 {
  background-color: rgb(var(--color-base-background-2));
  border-radius: 6px;
}
.template-404 .page-header {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0.8rem;
}
.template-404 .search__form-inner .field input[type=search] {
  background-color: rgb(var(--color-background-input));
}
.template-404 .field:hover input {
  border: 2px solid rgba(var(--color-accent), 0.5);
}
.template-404 .field:hover .predictive-search {
  border: 2px solid rgba(var(--color-accent), 0.5);
  border-top: none;
}

.search__form-text {
  margin-top: 0;
  margin-bottom: 3.2rem;
  max-width: 74rem;
  font-size: 1.4rem;
  text-align: left;
  color: rgb(var(--color-secondary-text));
}
@media only screen and (min-width: 750px) {
  .search__form-text {
    font-size: 1.8rem;
  }
}
.search .field__label::before {
  color: rgb(var(--color-secondary-text)) !important;
}
.search .field:hover input {
  border: 2px solid rgba(var(--color-accent), 0.5);
}
.search .field:hover .predictive-search {
  border: 2px solid rgba(var(--color-accent), 0.5);
  border-top: none;
}
.search-results__top {
  padding-top: 6.4rem;
  padding-bottom: 1.6rem;
  border-top: 1px solid rgba(var(--color-border));
  margin-top: 6.4rem;
}
@media screen and (min-width: 750px) {
  .search-results__top {
    padding-top: 12rem;
  }
}
.search-results__top h3 {
  margin: 0;
}
.search-results__top.first {
  border: none;
  margin-top: 0;
}

.template-search .template-search-container {
  max-width: calc(1500px + 10rem);
  margin: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media screen and (min-width: 750px) {
  .template-search .template-search-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.template-search .template-search-main {
  background-color: rgb(var(--color-base-background-2));
  border-radius: 6px;
}
.template-search .page-header {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0.8rem;
}
.template-search .search__form-inner .field {
  box-shadow: 0px 40px 60px rgba(var(--color-foreground), 0.05);
}
.template-search--empty .page-header {
  margin-bottom: 0;
  padding-bottom: 0.8rem;
}

.template-search__page {
  position: relative;
}
.template-search__search {
  margin: 0 auto;
  max-width: 100%;
}

.template-search__results ul {
  list-style: none;
  margin-top: 0;
}

.template-search__results {
  margin-top: 0;
}

.card-page {
  background-color: rgb(var(--color-base-background-2));
  border-radius: 0.6rem;
  padding: 3.6rem 3rem;
}
.card-page__content {
  display: flex;
  justify-content: space-between;
}

.collection-results {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.collection-results .article {
  width: 100%;
}
.collection-results .card__text {
  font-size: 20px;
}
@media screen and (min-width: 750px) {
  .collection-results--products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collection-results {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection-results--products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .collection-results {
    grid-template-columns: repeat(3, 1fr);
  }
  .collection-results--products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .collection-results--2-mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection-results--2-mobile .card__title h5 {
    font-size: 1.5rem;
  }
  .collection-results--2-mobile .card-information__wrapper {
    padding: 1.4rem;
  }
  .collection-results--2-mobile .card__badge {
    top: 1rem;
    left: 1rem;
  }
  .collection-results--2-mobile .badge {
    padding: 0.2rem 0.6rem;
  }
  .collection-results--2-mobile .article__title {
    font-size: 1.5rem;
  }
  .collection-results--2-mobile .card-page {
    padding: 1.4rem;
  }
  .collection-results--2-mobile .card-page .button--simple {
    width: 4rem;
    height: 4rem;
  }
}

.articles-results-list {
  gap: 4rem 0.8rem;
}
@media screen and (min-width: 990px) {
  .articles-results-list {
    gap: 6rem 0.8rem;
  }
}